* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  background: linear-gradient(105deg, #14181b 0%, #14181b 50%, #e4d9c6 50%, #e4d9c6 100%);
  color: #fff;
  font-family: "Gotham Rounded";
}

.content {
  display: flex;
  justify-content: space-between;
  padding: 48px;
}

.activeTitle {
  z-index: -1;
  position: absolute;
  color: rgba(0, 0, 0, .2);
  font-size: 100px;
  top: 30%;
  left: 48px;
  font-weight: bold;
  font-family: 'Arial';
  width: calc(50% - 96px);
}

/* #e4d9c6 main back */
/* #14181b main back */
/* #88898d logo text */
/* #3f4040 menu items */
/* #424140 main text */
/* #4a4a4b sub text */
