doctype html
html
    head
      meta(http-equiv='Content-Type', name="viewport", content='width=device-width', charset='utf-8')
      //- link(rel="shortcut icon", type="image/png", href="./../assets/images/favicon.png")

      <!-- build:css -->
      link(rel="stylesheet", type="text/css",  href="./index.css")
      <!-- endbuild -->

      title Vinyl
    body
        .test #{foo}
